body{
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%)
    /*background: rgb(59,86,6);
    background: linear-gradient(321deg, rgba(59,86,6,1) 0%, rgba(63,204,49,1) 100%);*/
}

.title{
    font-family: "Arial Rounded MT Bold"; 
    font-size:75px;
    left: 315px;
    position: relative;
    top: 20px;
    color: white    ;
}
.titleL2{
    font-family: "Arial Rounded MT Bold"; 
    font-size: 74px;
    left: 415px;
    top:75px; 
    position: absolute;
    color:white    ;
    
}
.imgBr{

   position: absolute;
    top: 10px;
    left: 200px;
}
.imgBa{
    
    position: absolute;
    top:115px;
    left:310px
}

.breaking{
    width: 200px;
    height: 175px;/*vertical*/
    margin: 5%;
    /*border-radius: 10px 50% 50% 50%;*/
    position: relative;
    bottom: 50px;
}
.Principal{
    width: 200px;/*ancho*/
    height: 300px;/*Alto*/
    float: left;
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: justify;
}
.center {    
    text-align: center;
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.padre {
    display: flex;
    justify-content: center;
  }  
.boton-personajes{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-weight: 600;
    font-size: 20px;    
    color: #ffffff;    
    background-color: #18ba91;
    border-radius: 6px;
    border: 2px solid #050b38;
}
/*** Funciona como selector el " :hover" ***/
.boton-personajes:hover{
    color: #18ba91;
    background-color:#F1F1F1;
}
.personajes{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 35px 35px 35px; 
    -moz-border-radius: 35px 35px 35px 35px; 
    -webkit-border-radius: 35px 35px 35px 35px; 
    border: 2px solid #5878ca;       
}
img{
    width: 84.38px;/*ancho*/
    height: 125px;/*alto*/
    border-radius: 15px 15px 15px 15px;
    border:2px solid green;
}